@import '../../varRootStyle/varColor.scss';

.ResetPassword-container {
    display   : flex;
    height    : 810px;
    box-sizing: border-box;
    gap       : 43px;

    & .login {
        padding-left    : 94px;
        padding-top     : 82px;
        max-width       : 592px;
        background-color: $-gray-50;

        & .logo {
            margin-left     : 114px;
            background-image: url('../../../public/images/logo.png');
            width           : 170px;
            height          : 138px;
        }

        & #form-login {
            display       : flex;
            flex-direction: column;

            & p.title {
                margin-top   : 102px;
                margin-left  : 115px;
                margin-bottom: 16px;
                font-size    : 22px;
                font-weight  : 700;
                line-height  : 33px;
                color        : $-gray-500;
                display      : inline-block;
            }

            & .form-field {
                display       : flex;
                flex-direction: column;
                width         : 498px;

                & label {
                    font-size  : 18px;
                    line-height: 27px;
                    font-weight: 400;
                    display    : inline-block;
                }

                & input {
                    margin-top       : 4px;
                    // width         : 400px;
                    // padding-top   : 10px;
                    // padding-left  : 12px;
                    // padding-bottom: 10px;
                    // padding-right : 270px;
                    // height        : 44px;
                    // border-radius : 8px;
                    // border        : 1.5px solid $-gray-100;
                    // color         : $-gray-400;
                    // font-size     : 18px;
                    // font-weight   : 300;
                    // outline-color : $-red;
                    // border        : 1.5px solid $-gray-100;
                }
            }

            & .confirm {
                width      : 400px;
                display    : flex;
                gap        : 24px;
                margin-top : 48px;
                margin-left: 24px;
            }

            & .btn {
                width: 162px;
            }


        }
    }

    & .banner {
        width         : 848px;
        padding-top   : 153px;
        padding-bottom: 97px;
        padding-right : 94px;


        & .img {
            background-image : url(../../../public/images/resetPasswordBanner.png);
            background-repeat: no-repeat;
            background-size  : cover;
            width            : 711px;
            height           : 560px;
        }
    }
}